<aside class="aside">
    <form class="form-suscribe" aria-label="Форма подписки">
        <h6 class="title-sub">Подпишись на обновления</h6>

        <!-- Hidden Required Fields -->
        <input type="hidden" name="project_name" value="http://f0315577.xsph.ru/salatik">
        <input type="hidden" name="admin_email" value="43reiter@gmail.com">
        <input type="hidden" name="form_subject" value="Сайт SALATIK. Подписка из формы подписки">
        <!-- END Hidden Required Fields -->

        <label class="email">
            <span class="visually-hidden">Введите email(обязательное поле)</span>
            <input class="email__input" type="email" name="email" placeholder="Введите ваш email" required="required">
        </label>

        <button class="btn-submit btn-submit--suscribe">Подписаться</button>
    </form>

    <section class="recept-pop">
        <div class="recept-pop__header">
            <h6 class="title-sub">Популярные рецепты</h6>
        </div>

        <ul class="recept-pop__list">
            <li class="recept-pop__item">
                <figure class="recept-min">
                    <figcaption class="recept-min__desc">
                        <h6 class="recept-min__title">Бутерброд с сыром</h6>
                        <div class="recept-footer">
                            <ul class="recept-footer__list">
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество лайков</title>
                                        <use xlink:href="img/svg/sprite.svg#like" aria-hidden="true"></use>
                                    </svg>
                                    <span>100</span>
                                </li>
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество комментариев</title>
                                        <use xlink:href="img/svg/sprite.svg#comments" aria-hidden="true"></use>
                                    </svg>
                                    <span>10</span>
                                </li>
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество просмотров</title>
                                        <use xlink:href="img/svg/sprite.svg#see" aria-hidden="true"></use>
                                    </svg>
                                    <span>10</span>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <div class="recept-min__img">
                        <img src="img/images/recept-pop-1.jpg" alt="Ингридиенты для салата">
                    </div>
                </figure>
            </li>
            <li class="recept-pop__item">
                <figure class="recept-min">
                    <figcaption class="recept-min__desc">
                        <h6 class="recept-min__title">Бутерброд с сыром</h6>
                        <div class="recept-footer">
                            <ul class="recept-footer__list">
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество лайков</title>
                                        <use xlink:href="img/svg/sprite.svg#like" aria-hidden="true"></use>
                                    </svg>
                                    <span>100</span>
                                </li>
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество комментариев</title>
                                        <use xlink:href="img/svg/sprite.svg#comments" aria-hidden="true"></use>
                                    </svg>
                                    <span>10</span>
                                </li>
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество просмотров</title>
                                        <use xlink:href="img/svg/sprite.svg#see" aria-hidden="true"></use>
                                    </svg>
                                    <span>10</span>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <div class="recept-min__img">
                        <img src="img/images/recept-pop-1.jpg" alt="Ингридиенты для салата">
                    </div>
                </figure>
            </li>
            <li class="recept-pop__item">
                <figure class="recept-min">
                    <figcaption class="recept-min__desc">
                        <h6 class="recept-min__title">Бутерброд с сыром</h6>
                        <div class="recept-footer">
                            <ul class="recept-footer__list">
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество лайков</title>
                                        <use xlink:href="img/svg/sprite.svg#like" aria-hidden="true"></use>
                                    </svg>
                                    <span>100</span>
                                </li>
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество комментариев</title>
                                        <use xlink:href="img/svg/sprite.svg#comments" aria-hidden="true"></use>
                                    </svg>
                                    <span>10</span>
                                </li>
                                <li class="recept-footer__item">
                                    <svg role="img" focusable="false">
                                        <title>Количество просмотров</title>
                                        <use xlink:href="img/svg/sprite.svg#see" aria-hidden="true"></use>
                                    </svg>
                                    <span>10</span>
                                </li>
                            </ul>
                        </div>
                    </figcaption>
                    <div class="recept-min__img">
                        <img src="img/images/recept-pop-1.jpg" alt="Ингридиенты для салата">
                    </div>
                </figure>
            </li>
        </ul>
    </section>

    <section class="reklama">
        <div class="reklama__header">
            <h6 class="title-sub">Реклама</h6>
        </div>
        <div class="reklama__body">
            <div class="reklama__block">
                <span>Блок с рекламой</span>
            </div>
        </div>
    </section>

    <section class="add-block">
        <div class="add-block__header">
            <h6 class="title-sub">Дополнительный блок</h6>
        </div>
    </section>
</aside>