<footer class="footer">
    <div class="footer__topline">
        <div class="wrapper">
            <div class="footer__content">
                <div class="footer__logo">
                    <a href="index.html" class="logo logo--footer">Салатик</a>
                    <p class="footer__info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dolor sapien, tincidunt rutrum fringilla nec, dictum eu ligula. Interdum et malesuada fames ac ante ipsum primis in</p>
                </div>

                <div class="footer__form">
                    <form class="form-footer" aria-describedby="form-footer__desc">
                        <p class="form-footer__desc" id="form-footer__desc">Подписывайтесь на обновления и получайте новые рецепты каждый день!</p>

                        <!-- Hidden Required Fields -->
                        <input type="hidden" name="project_name" value="http://f0315577.xsph.ru/salatik">
                        <input type="hidden" name="admin_email" value="43reiter@gmail.com">
                        <input type="hidden" name="form_subject" value="Сайт SALATIK. Подписка из футера">
                        <!-- END Hidden Required Fields -->

                        <label class="email">
                            <span class="visually-hidden">Введите email(обязательное поле)</span>
                            <input class="email__input" type="email" name="email" placeholder="Введите ваш email" required="required">
                        </label>

                        <button class="btn-submit form-footer__btn-submit">Подписаться</button>

                        <label class="checkbox-footer">
                            <input class="checkbox-footer__input" type="checkbox" name="Обработка данных" aria-checked="false">
                            <span class="checkbox-footer__fake"></span>
                            Согласие на обработку персональных данных
                        </label>
                    </form>
                </div>

                <div class="footer__socials">
                    <nav class="nav-footer">
                        <ul class="nav-footer__list">
                            <li class="nav-footer__item"><a href="#" class="nav-footer__link">Главная</a></li>
                            <li class="nav-footer__item"><a href="#" class="nav-footer__link">Рецепты</a></li>
                            <li class="nav-footer__item"><a href="#" class="nav-footer__link">О блоге</a></li>
                            <li class="nav-footer__item"><a href="#" class="nav-footer__link">Реклама</a></li>
                            <li class="nav-footer__item"><a href="#" class="nav-footer__link">Контакты</a></li>
                        </ul>
                    </nav>
                    <div class="socials">
                        <h5 class="socials__title">Мы в социальных сетях</h5>
                        <ul class="socials__list">
                            <li class="socials__item" style="background: #4680C2">
                                <a href="#" class="socials__link" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#vk"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item" style="background: #3B5998">
                                <a href="#" class="socials__link" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#fb"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item" style="background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 32.09%, #D62976 53.83%, #C837AB 71.22%, #4F5BD5 90.92%)">
                                <a href="#" class="socials__link" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#inst"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item" style="background: #DC4E41">
                                <a href="#" class="socials__link" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#google+"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item" style="background:#4CAF50">
                                <a href="#" class="socials__link socials__link--ws" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#whatsap"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item" style="background: #7F40BD">
                                <a href="#" class="socials__link" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#viber"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item" style="background: #30B0E1">
                                <a href="#" class="socials__link" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#telegram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="socials__item" style="background:#ED812B">
                                <a href="#" class="socials__link" aria-label="Ссылка на профиль">
                                    <svg aria-hidden="true">
                                        <use xlink:href="img/svg/sprite.svg#odno"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="wrapper">
            <div class="footer-copy__content">
                <p class="footer-copy__info">2019 SALATIK - All Rights Reserved</p>
                <div class="footer-copy__metrics">
                    <div class="footer-copy__count"><a href="#">Счетчик</a></div>
                    <div class="footer-copy__count"><a href="#">Счетчик</a></div>
                    <div class="footer-copy__count"><a href="#">Счетчик</a></div>
                    <div class="footer-copy__count"><a href="#">Счетчик</a></div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn-up" aria-label="Наверх">
        <svg aria-hidden="true">
            <use xlink:href="img/svg/sprite.svg#up"></use>
        </svg>
    </button>
</footer>

<script src="./js/script.js"></script>

</body>

</html>