<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Поиск и добавление рецептов различных салатов и бутербродов">
    <title>@title</title>

    <link rel="apple-touch-icon" sizes="180x180" href="img/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/images/favicon-16x16.png">
    <link rel="mask-icon" href="img/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="./css/style.css">

</head>

<body>
    <header class="header" id="a-up">
        <div class="header-topline">
            <div class="wrapper header-topline__wrap">
                <div class="header-topline__burger" aria-hidden="true">
                    <button class="burger" aria-expanded="false" aria-controls="nav-site" aria-label="Мобильное меню">
                        <span class="burger__icon"></span>
                    </button>
                </div>

                <a href="#" class="logo">SALATIK</a>

                <form class="form-search" aria-labelledby="form-search-1__title">
                    <h4 class="visually-hidden" id="form-search-1__title">Форма для поиска рецептов на главной</h4>

                    <label class="visually-hidden" for="search-input-1">Поле поиска рецептов (обязательное поле)</label>
                    <input class="search-input" type="search" name="Поиск" id="search-input-1" placeholder="Поиск рецептов" required>

                    <label class="visually-hidden" for="search-input-2">Поле поиска рецептов (обязательное поле)</label>
                    <input class="search-input search-input--lg" type="search" name="Поиск" id="search-input-2" placeholder="Поиск" required>

                    <button class="form-search__button" aria-label="Поиск">
                        <svg class="form-search__icon">
                            <use xlink:href="img/svg/sprite.svg#search"></use>
                        </svg>
                    </button>
                </form>

                <nav class="nav-site" id="nav-site" aria-label="Навигация по сайту">
                    <ul class="nav-site__list" aria-label="Навигация по сайту">
                        <li class="nav-site__item">
                            <a href="#" class="nav-site__link">Новости</a>
                        </li>
                        <li class="nav-site__item">
                            <a href="#" class="nav-site__link">О блоге</a>
                        </li>
                        <li class="nav-site__item">
                            <a href="#" class="nav-site__link">Реклама</a>
                        </li>
                        <li class="nav-site__item">
                            <a href="#" class="nav-site__link">Контакты</a>
                        </li>
                        <li class="nav-site__item">
                            <a href="#" class="nav-site__link">Разное</a>
                        </li>
                    </ul>
                </nav>

                <div class="header-topline__btn">
                    <button class="btn">
                        <span>Вход</span>
                        <svg role="img">
                            <use xlink:href="img/svg/sprite.svg#user"></use>
                        </svg>
                    </button>
                </div>

                <a href="#" class="header-topline__link-login" aria-label="Переход на страницу регистрации">Регистрация</a>

                <div class="header-topline__btn-search">
                    <button class="btn-search" aria-label="Поиск рецептов">
                        <svg>
                            <use xlink:href="img/svg/sprite.svg#btn-search"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="header-downline">
            <div class="wrapper">
                <nav class="nav" aria-label="Навигация по контенту">
                    <nav class="nav-site--mob" id="nav-site--mob" aria-label="Навигация по сайту">
                        <ul class="nav-site--mob__list" aria-label="Навигация по сайту">
                            <li class="nav-site--mob__item">
                                <a href="#" class="nav-site--mob__link">Новости</a>
                            </li>
                            <li class="nav-site--mob__item">
                                <a href="#" class="nav-site--mob__link">О блоге</a>
                            </li>
                            <li class="nav-site--mob__item">
                                <a href="#" class="nav-site--mob__link">Реклама</a>
                            </li>
                            <li class="nav-site--mob__item">
                                <a href="#" class="nav-site--mob__link">Контакты</a>
                            </li>
                            <li class="nav-site__item--mob">
                                <a href="#" class="nav-site--mob__link">Разное</a>
                            </li>
                        </ul>
                    </nav>
                    <ul class="nav__list" role="menubar" aria-label="Навигация по контенту">
                        <li class="nav__item nav__item--drop" role="none">
                            <button type="button" class="nav__link btn-icon nav__link--drop" aria-expanded="false">
                                <span>Салаты</span>
                                <svg aria-hidden="true" focusable="false">
                                    <use xlink:href="img/svg/sprite.svg#arrow-down"></use>
                                </svg>
                            </button>
                            <ul class="nav__sublist" role="menu" aria-haspopup="true" aria-label="Салаты">
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Мясные</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="category.html" class="nav__sublink" tabindex="-1" role="menuitem">Овощные</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Рыбные</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Морепродукты</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Фруктовые</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Ассорти</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Сладкие</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Постные</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Птица</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item nav__item--drop" role="none">
                            <button class="nav__link nav__link--drop btn-icon" aria-expanded="false">
                                <span>Бутерброды</span>
                                <svg aria-hidden="true" focusable="false">
                                    <use xlink:href="img/svg/sprite.svg#arrow-down"></use>
                                </svg>
                            </button>
                            <ul class="nav__sublist nav__sublist--buter" role="menu" aria-haspopup="true" aria-label="Бутерброды">
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Овощи и зелень</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Грибные</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">С сыром</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Рыба</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Морепродукты</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">С колбасой</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Мясные</a>
                                </li>
                                <li class="nav__subitem" role="none">
                                    <a href="#" class="nav__sublink" tabindex="-1" role="menuitem">Двойные (сэндвичи)</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav__item" role="none">
                            <a href="#" class="nav__link" role="menuitem">Канапе</a>
                        </li>
                        <li class="nav__item" role="none">
                            <a href="#" class="nav__link" role="menuitem">Гренки</a>
                        </li>
                        <li class="nav__item" role="none">
                            <a href="#" class="nav__link" role="menuitem">Тосты</a>
                        </li>
                        <li class="nav__item" role="none">
                            <a href="#" class="nav__link" role="menuitem">Тартинки</a>
                        </li>
                        <li class="nav__item" role="none">
                            <a href="#" class="nav__link" role="menuitem">Закуски</a>
                        </li>
                        <li class="nav__item" role="none">
                            <a href="#" class="nav__link" role="menuitem">Заправки</a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>