<div class="modal" id="modal-@id" role="dialog" aria-labelledby="modal__title" aria-modal="true">
    <div class="modal__dialog">
        <button type="button" class="btn-close modal__btn-close" tabindex="0" data-close-modal aria-label="Закрыть окно">
            <span></span>
        </button>
        <div class="modal__content">
            <h3 class="modal__title-modal" id="modal-title-@id">
                @title
            </h3>
            <div class="modal__body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam dolore, hic optio doloremque quisquam veniam! Porro ipsa non illum earum magni delectus? Totam itaque amet possimus eaque, obcaecati autem.
                    Animi nam inventore qui? Impedit ad atque facilis ipsam alias molestiae totam quas sit adipisci omnis temporibus, sapiente animi porro facere voluptates cumque esse eaque in veniam voluptas velit? Quibusdam.
                    Quibusdam assumenda eos rem, natus suscipit temporibus in quas a odit maiores repellendus dignissimos saepe velit ipsum! Est, cupiditate. Modi consequatur aliquid beatae eveniet vel maxime vitae quaerat ullam ad?
                </p>
            </div>
            <div class="modal__footer">
                <button class="btn" tabindex="0" data-close-modal>Ok</button>
            </div>
        </div>
    </div>
</div>