<nav aria-label="Пагинация страниц категорий рецептов">
    <ul class="pagination">
        <li class="pagination__item">
            <a href="#" class="pagination__link">
                <svg aria-hidden="true" focusable="false">
                    <use xlink:href="img/svg/sprite.svg#pagin-prev"></use>
                </svg>
                <span class=" visually-hidden">Предыдущая страница</span>
            </a>
        </li>
        <li class="pagination__item active">
            <a href="#" class="pagination__link" aria-current="true"><span class="visually-hidden">Страница</span>1</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link"><span class="visually-hidden">Страница</span>2</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link"><span class="visually-hidden">Страница</span>3</a>
        </li>
        <li class="pagination__item">
            <a href="#" class="pagination__link">
                <svg aria-hidden="true" focusable="false">
                    <use xlink:href="img/svg/sprite.svg#pagin-next"></use>
            </svg>
            <span class=" visually-hidden">Следующая страница</span>
            </a>
        </li>
    </ul>
</nav>
