@mixin font-face($font-family, $file-path) {
    @font-face {
        font-family: $font-family;
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src:    url('#{$file-path}.woff2') format('woff2'),
                url('#{$file-path}.woff') format('woff');
    }
}

@include font-face('Days', '../fonts/days/days');

/*roboto-regular - cyrillic*/
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Roboto'),
 local('Roboto-Regular'),
         url('../fonts/roboto/roboto-v20-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto/roboto-v20-cyrillic-regular.woff') format('woff'); /*Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+*/
  }

  /*roboto-500 - cyrillic*/
  @font-face {
    font-family: Roboto;
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Medium'),
 local('Roboto-Medium'),
         url('../fonts/roboto/roboto-v20-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto/roboto-v20-cyrillic-500.woff') format('woff'); /*Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+*/
  }

  /*roboto-700 - cyrillic*/
  @font-face {
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Roboto Bold'),
 local('Roboto-Bold'),
         url('../fonts/roboto/roboto-v20-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto/roboto-v20-cyrillic-700.woff') format('woff'); /*Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+*/
  }