/*---------------------------------------------
    Aside
---------------------------------------------*/
.aside {
    width: 100%;
    max-width: 340px;
    margin-left: 80px;
    padding-top: 32px;

    @include lg-block {
        max-width: 280px;
        margin-left: 56px;
    }

    @include lg-block {
        margin-left: 48px;
    }

    @include sm-block {
        display: none;
    }
}

.form-suscribe {
    padding: 21px 32px 32px;
    border: 1px solid $ct-gray-lines;
    border-radius: 5px;

    @include md-block {
        padding: 16px;
    }

    .email__input {
        margin: 22px 0 24px;
    }
}

.recept-pop,
.reklama,
.add-block {
    margin-top: 40px;
    border: 1px solid $ct-gray-lines;
    border-radius: 5px;

    &__header {
        padding: 20px;
        border-bottom: 1px solid $ct-gray-lines;
        background: $ct-light-gray;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 22px;

        @include md-block {
            padding: 15px 12px;
        }
    }

    &__item:not(:last-child) {
        border-bottom: 1px solid $ct-gray-lines;
    }

    &__body {
        padding: 24px 0;

        @include md-block {
            height: 276px;
        }
    }

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 248px;
        height: 400px;
        margin: 0 auto;
        border: 1px solid $ct-gray-lines;
        border-radius: 5px;

        @include md-block {
            display: none;
        }

        span {
            font-family: $font-family-roboto;
            font-size: 18px;
            line-height: 100%;
            color: $ct-black;
        }
    }
}

.recept-min {
    display: flex;
    justify-content: space-between;

    &__desc {
        display: flex;
        flex-direction: column;
        padding: 12px 0;

        @include md-block {
            padding: 10px 0 0;
        }
    }

    &__title {
        margin: 0;
        font-family: $font-family-roboto;
        font-size: 16px;
        line-height: 100%;
        font-weight: 400;
        font-style: normal;
        color: $ct-black;

        @include llg-block {
            font-size: 14px;
        }

        @include md-block {
            font-size: 10px;
        }
    }

    &__img {
        max-width: 84px;
        margin-left: 20px;
    
        @include llg-block {
            max-width: 70px;
            margin-left: 10px;
        }
    
        @include md-block {
            max-width: 48px;
            margin-left: 10px;
        }
    
        img {
            @include img;
        }
    }
}

.add-block {
    height: 468px;
}