/*=============================================
        ШАПКА
=============================================*/
.header-topline {
    padding: 13px 0;
    background: $cf-white;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__burger {
        display: none;

        @include sm-block {
            display: block;
        }

        @include xxs-block {
            margin-right: 40px;
        }
    }

    &__btn-search {
        display: none;

        @include xs-block {
            display: block;
        }
    }

    &__btn {
        @include xxs-block {
            margin-left: -15px;
        }
    }


    &__link-login {
        align-self: center;
        margin-left: 10px;
        font-family: $font-family-roboto;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        color: $ct-semi-black;

        @include md-block {
            font-size: 12px;
            line-height: 100%;
        }

        @include sm-block {
            display: none;
        }
    }
}

.burger {
    @include burger (34px, 28px, 18px, 2px, 6px, $ct-semi-black, $cf-white, $ct-gray-lines, 1px);
}

.logo {
    align-self: center;
    margin-right: 10px;
    font-family: $font-family-days;
    font-size: 16px;
    line-height: 20px;
    color: $ct-green;
    letter-spacing: 0.03em;

    @include md-block {
        font-size: 14px;
        line-height: 18px;
    }

    @include sm-block {
        font-size: 20px;
        line-height: 25px;
    }

    &--footer {
        font-size: 20px;
        line-height: 25px;
    }
}

.form-search {
    position: relative;

    @include xs-block {
        display: none;
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 15px;
        border: none;
        background: transparent;
        transform: translateY(-50%);
    }

    &__icon {
        @include svg (16px, 16px, $ct-semi-black);
        cursor: pointer;

        @include md-block {
            @include svg (12px, 12px, $ct-semi-black);
        }
    }
}

.search-input {
    width: 378px;
    max-width: 378px;
    padding: 9px 0 9px 45px;
    border: none;
    border-radius: 25px;
    background: $cf-gray;

    @include lg-block {
        display: none;
    }

    @include md-block {
        padding: 6px 48px 6px 32px;
        font-size: 12px;
    }

    &--lg {
        display: none;

        @include lg-block {
            display: block;
            width: 120px;
        }
    }
}

@include input-placeholder {
    font-family: $font-family-roboto;
    font-size: 14px;
    line-height: 16px;
    color: $ct-semi-black;

    @include md-block {
        font-size: 12px;
        line-height: 100%;
    }
}

.nav-site {
    width: 100%;
    max-width: 440px;
    margin: 0 50px 0 20px;

    @include sm-block {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    &__link {
        font-family: $font-family-roboto;
        font-size: 14px;
        line-height: 16px;
        font-weight: 300;
        color: $ct-semi-black;

        @include md-block {
            font-size: 12px;
            line-height: 100%;
        }
    }
}

.header-downline {
    background: $ct-light-gray;
}

.nav {
    margin-left: -50px;

    @include lg-block {
        margin-left: -28px;
    }

    @include sm-block {
        display: none;
    }

    &__list {
        display: flex;
        align-items: flex-start;
        list-style-type: none;
    }

    &__item {
        position: relative;
        transition: background-color ease 0.5s;
        cursor: pointer;

        svg {
            @include svg(9px, 4px, transparent);
            margin-left: 8px;
            stroke: $ct-black;
            stroke-width: 2px;
        }

        &:hover {
            background-color: $cf-gray;
        }

        &:hover .nav__sublist {
            max-height: 500px;
            padding-top: 8px;
            padding-bottom: 24px;
        }
    }

    &__item:first-child {
        .nav__link {
            @include lg-block {
                padding-left: 24px;
            }
        }
    }

    &__link {
        display: block;
        padding: 20px 28px;
        font-family: $font-family-roboto;
        font-size: 16px;
        line-height: 19px;
        color: $ct-black;

        @include lg-block {
            padding: 20px 16px;
            font-size: 14px;
            line-height: 180%;
        }
    }



    &__sublist {
        position: absolute;
        z-index: 20;
        top: 100%;
        left: 0;
        height: 220px;
        max-height: 0;
        padding: 0 32px;
        overflow: hidden;
        border-radius: 0 0 5px 5px;
        background: $cf-white;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        list-style-type: none;
        transition: max-height 0.2s ease-in, padding 0.1s ease-in;
        column-count: 2;
        column-gap: 40px;
        column-fill: auto;

        @include lg-block {
            padding: 0 24px;
            column-gap: normal;
        }

        &--buter {
            width: 255%;
        }
    }

    &__subitem {
        display: block;
        padding-top: 16px;
    }

    &__sublink {
        white-space: nowrap;
        font-family: $font-family-roboto;
        font-size: 16px;
        line-height: 19px;
        color: $ct-black;
        transition: color ease 0.1s;

        @include lg-block {
            font-size: 14px;
            line-height: 16px;
        }

        &:hover {
            color: $ct-green;
        }
    }
}

/*=============================================*/