/*---------------------------------------------
    Кнопки
---------------------------------------------*/
.btn {
    padding: 8px 27px 8px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background: $cf-green;
    font-family: $font-family-roboto;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    color: $ct-white;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    @include md-block {
        padding: 6px 20px;
        font-size: 12px;
    }

    @include sm-block {
        padding: 0;
        background: transparent;
    }

    &:hover {
        opacity: 0.85;
    }

    span {
        @include sm-block {
            @include visually-hidden;
        }
    }

    svg {
        @include svg (24px, 24px, $ct-semi-black);
        display: none;
        vertical-align: middle;

        @include sm-block {
            display: inline-block;
        }
    }
}

.btn-icon {
    min-width: 86px;
    padding: 20px 28px;
    text-align: center;
    border: none;
    background: transparent;
    font-family: $font-family-roboto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $ct-black;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    svg {
        display: inline-block;
        vertical-align: middle;
    }
}

.btn-search {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;

    svg {
        @include svg (22px, 22px, $ct-semi-black);
        display: inline-block;
        vertical-align: middle;
    }
}

.btn-submit {
    min-width: 200px;
    padding: 12px 58px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: $cf-green;
    font-family: $font-family-roboto;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    color: $ct-light-gray;
    text-transform: uppercase;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    &:hover {
        opacity: 0.85;
    }

    &--suscribe {
        width: 100%;
        font-size: 14px;

        @include md-block {
            min-width: 120px;
            padding: 12px 20px;
            
            font-size: 10px;
        }
    }

    &--suscribe-footer {
        width: 100%;
        background: $cf-dark-green;
        font-size: 18px;

        @include md-block {
            padding: 7px 58px;
            font-size: 10px;
        }

        @include sm-block {
            padding-top: 8px;
            font-size: 12px;
        }
    }
}

.btn-add-recept {
    min-width: 180px;
    padding: 6px 36px 7px;
    text-align: center;
    border: 1px solid $cf-green;
    border-radius: 20px;
    background: $cf-gray2;
    font-family: $font-family-roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $ct-green;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    &:hover {
        opacity: 0.85;
    }
}

.btn-ingridients {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: transparent;
    cursor: pointer;
    appearance: none;
}

.btn-close {
    border: none;
    background: none;

    span {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {

            &::before,
            &::after {
                background: darken(#777777, 40%);
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 10px;
            display: block;
            width: 20px;
            height: 3px;
            background: #777777;
            transition: background-color 0.5s ease;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

/*------------------------------------------------*/

/*---------------------------------------------
    Заголовки
---------------------------------------------*/
.title-page {
    margin: 0;
    font-family: $font-family-days;
    font-size: 48px;
    line-height: 100%;
    font-weight: 400;
    color: $ct-black;

    @include md-block {
        font-size: 42px;
    }

    @include s-block {
        font-size: 28px;
        line-height: 36px;
    }
}

.title-section {
    margin: 0;
    text-align: center;
    font-family: $font-family-days;
    font-size: 32px;
    line-height: 41px;
    color: $ct-black;

    @include md-block {
        font-size: 22px;
        line-height: 100%;
    }

    @include xxs-block {
        font-size: 16px;
        line-height: 20px;
    }
}

.title-section-inner {
    margin: 0;
    font-family: $font-family-roboto;
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    color: $ct-black;
}

.title-recept {
    margin: 0;
    font-family: $font-family-days;
    font-size: 20px;
    line-height: 25px;
    color: $ct-black;

    @include lg-block {
        font-size: 16px;
    }

    @include md-block {
        font-size: 12px;
        line-height: 100%;
    }

    @include s-block {
        font-size: 16px;
    }

    @include xs-block {
        font-size: 13px;
    }

    &--cat {
        @include lg-block {
            font-size: 20px;
        }

        @include md-block {
            font-size: 14px;
            line-height: 100%;
        }

        @include s-block {
            font-size: 16px;
            line-height: 20px;
        }

        @include xs-block {
            font-size: 16px;
        }
    }
}

.title-sub {
    margin: 0;
    text-align: center;
    font-family: $font-family-roboto;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: $ct-black;

    @include md-block {
        font-size: 12px;
        line-height: 14px;
    }
}

/*------------------------------------------------*/

/*---------------------------------------------
   Карточка рецепта
---------------------------------------------*/
.recept {
    @include col();
    @include size(4);
    @include size-md(4);
    @include size-sm(6);
    @include size-s(12);

    display: flex;
    margin-bottom: 60px;
    border-radius: 5px;
    background: $cf-gray3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    @include sm-block {
        max-width: 285px;
        margin-bottom: 32px;
    }

    @include s-block {
        max-width: 340px;
    }

    &--s {
        @include s-block {
            display: none;
        }
    }

    &__desc {
        padding: 24px 16px;

        @include lg-block {
            min-width: 136px;
            padding: 12px 9px;
        }

        p {
            margin-top: 16px;
            font-family: $font-family-roboto;
            font-size: 16px;
            line-height: 132.19%;
            color: $ct-semi-black;

            @include lg-block {
                font-size: 13px;
            }

            @include md-block {
                margin-top: 9px;
                font-size: 10px;
            }

            @include s-block {
                font-size: 12px;
            }

            @include xs-block {
                font-size: 11px;
            }
        }
    }

    &__img {
        flex-grow: 1;

        img {
            display: block;
            width: 156px;
            height: 100%;
            border-radius: 0 5px 5px 0;

            @include lg-block {
                width: 100%;
                min-width: 90px;
            }

            @include s-block {
                min-width: 116px;
            }
        }
    }
}

/*------------------------------------------------*/

/*---------------------------------------------
    Aside
---------------------------------------------*/

.aside {
    width: 100%;
    max-width: 340px;
    margin-left: 80px;
    padding-top: 32px;

    @include lg-block {
        max-width: 280px;
        margin-left: 56px;
    }

    @include lg-block {
        margin-left: 48px;
    }

    @include sm-block {
        display: none;
    }
}

.form-suscribe {
    padding: 21px 32px 32px;
    border: 1px solid $ct-gray-lines;
    border-radius: 5px;

    @include md-block {
        padding: 16px;
    }

    .email__input {
        margin: 22px 0 24px;
    }
}

.recept-pop,
.reklama,
.add-block {
    margin-top: 40px;
    border: 1px solid $ct-gray-lines;
    border-radius: 5px;

    &__header {
        padding: 20px;
        border-bottom: 1px solid $ct-gray-lines;
        background: $ct-light-gray;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        padding: 22px;

        @include md-block {
            padding: 15px 12px;
        }
    }

    &__item:not(:last-child) {
        border-bottom: 1px solid $ct-gray-lines;
    }

    &__body {
        padding: 24px 0;

        @include md-block {
            height: 276px;
        }
    }

    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 248px;
        height: 400px;
        margin: 0 auto;
        border: 1px solid $ct-gray-lines;
        border-radius: 5px;

        @include md-block {
            display: none;
        }

        span {
            font-family: $font-family-roboto;
            font-size: 18px;
            line-height: 100%;
            color: $ct-black;
        }
    }
}

.recept-min {
    display: flex;
    justify-content: space-between;

    &__desc {
        display: flex;
        flex-direction: column;
        padding: 12px 0;

        @include md-block {
            padding: 10px 0 0;
        }
    }

    &__title {
        margin: 0;
        font-family: $font-family-roboto;
        font-size: 16px;
        line-height: 100%;
        font-weight: 400;
        font-style: normal;
        color: $ct-black;

        @include llg-block {
            font-size: 14px;
        }

        @include md-block {
            font-size: 10px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        margin-top: auto;

        span {
            margin-left: 4px;
            font-family: $font-family-roboto;
            font-size: 14px;
            line-height: 100%;
            color: $ct-semi-black;

            @include llg-block {
                margin-left: 0;
            }

            @include md-block {
                margin-left: -2px;
                font-size: 10px;
            }
        }
    }

    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    &__item:not(:first-child) {
        margin-left: 16px;

        @include llg-block {
            margin-left: 12px;
        }

        // @include md-block {
        //     margin-left: 10px;
        // }
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        @include svg(16px, 14px, $ct-orange);

        @include md-block {
            @include svg(12px, 10px, $ct-orange);
        }
    }

    &__img {
        max-width: 84px;
        margin-left: 20px;

        @include llg-block {
            max-width: 70px;
            margin-left: 10px;
        }

        @include md-block {
            max-width: 48px;
            margin-left: 10px;
        }

        img {
            @include img;
        }
    }
}

.add-block {
    height: 468px;
}