/*---------------------------------------------
    Кнопки
---------------------------------------------*/
.btn {
    padding: 8px 27px 8px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background: $cf-green;
    font-family: $font-family-roboto;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    color: $ct-white;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    @include md-block {
        padding: 6px 20px;
        font-size: 12px;
    }

    @include sm-block {
        padding: 0;
        background: transparent;
    }

    &:hover {
        opacity: 0.85;
    }

    span {
        @include sm-block {
            @include visually-hidden;
        }
    }

    svg {
        @include svg (24px, 24px, $ct-semi-black);
        display: none;
        vertical-align: middle;

        @include sm-block {
            display: inline-block;
        }
    }
}

.btn-icon {
    min-width: 86px;
    padding: 20px 28px;
    text-align: center;
    border: none;
    background: transparent;
    font-family: $font-family-roboto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: $ct-black;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    svg {
        display: inline-block;
        vertical-align: middle;
    }

    &--img-block {
        padding: 0;

        @include lg-block {
            font-size: 16px;
        }

        @include md-block {
            font-size: 12px;
        }

        @include s-block {
            font-size: 14px;
        }
    }
}

.btn-search {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;

    svg {
        @include svg (22px, 22px, $ct-semi-black);
        display: inline-block;
        vertical-align: middle;
    }
}

.btn-submit {
    padding: 12px 54px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: $cf-green;
    font-family: $font-family-roboto;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    color: $ct-light-gray;
    text-transform: uppercase;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    &:hover {
        opacity: 0.85;
    }

    @include llg-block {
        font-size: 14px;
        padding: 10px 40px;
    }

    @include md-block {
        font-size: 10px;
        padding: 7px 29px;
    }

    &--suscribe {
        width: 100%;
        font-size: 14px;

        @include md-block {
            min-width: 120px;
            padding: 12px 20px;
            font-size: 10px;
        }
    }

    &--suscribe-footer {
        width: 100%;
        background: $cf-dark-green;
        font-size: 18px;

        @include md-block {
            padding: 12px 58px 10px;
            font-size: 10px;
        }

        @include sm-block {
            font-size: 12px;
        }
    }
}

.btn-add-recept {
    min-width: 180px;
    padding: 6px 36px 7px;
    text-align: center;
    border: 1px solid $cf-green;
    border-radius: 20px;
    background: $cf-gray2;
    font-family: $font-family-roboto;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: $ct-green;
    transition: opacity ease 0.5s;
    cursor: pointer;
    appearance: none;

    &:hover {
        opacity: 0.85;
    }
}

.btn-ingridients {
    display: inline-block;
    vertical-align: middle;
    border: none;
    background: transparent;
    cursor: pointer;
    appearance: none;
}

.btn-close {
    border: none;
    background: none;

    span {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;

        &:hover {

            &::before,
            &::after {
                background: darken(#777777, 40%);
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 10px;
            display: block;
            width: 20px;
            height: 3px;
            background: #777777;
            transition: background-color 0.5s ease;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
}

.btn-smile {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    border: none;
    border-radius: 50%;
    background: $ct-gray-lines;
    appearance: none;

    @include lg-block {
        width: 24px;
        height: 24px;
        margin-right: 6px;
        vertical-align: text-top
    }

    @include md-block {
        width: 18px;
        height: 18px;
        ;
    }
}

.btn-comments {
    display: inline-block;
    padding: 0;
    border: none;
    background: transparent;
    font-family: $font-family-roboto;
    font-size: 18px;
    line-height: 21px;
    font-weight: normal;
    color: $ct-green;
    appearance: none;

    @include md-block {
        font-size: 12px;
    }
}

/*------------------------------------------------*/

/*---------------------------------------------
    Заголовки
---------------------------------------------*/
.title-page {
    margin: 0;
    font-family: $font-family-days;
    font-size: 48px;
    line-height: 100%;
    font-weight: 400;
    color: $ct-black;

    @include md-block {
        font-size: 42px;
    }

    @include s-block {
        font-size: 28px;
        line-height: 36px;
    }
}

.title-section {
    margin: 0;
    text-align: center;
    font-family: $font-family-days;
    font-size: 32px;
    line-height: 41px;
    color: $ct-black;

    @include md-block {
        font-size: 22px;
        line-height: 100%;
    }

    @include xxs-block {
        font-size: 16px;
        line-height: 20px;
    }
}

.title-section-inner {
    margin: 0;
    font-family: $font-family-roboto;
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    color: $ct-black;

    @include md-block {
        font-size: 18px;
    }
}

.title-recept {
    margin: 0;
    font-family: $font-family-days;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: $ct-black;

    @include lg-block {
        font-size: 16px;
    }

    @include md-block {
        font-size: 12px;
        line-height: 100%;
    }

    @include s-block {
        font-size: 16px;
    }

    @include xs-block {
        font-size: 13px;
    }

    &--cat {
        @include lg-block {
            font-size: 20px;
        }

        @include md-block {
            font-size: 14px;
            line-height: 100%;
        }

        @include s-block {
            font-size: 16px;
            line-height: 20px;
        }

        @include xs-block {
            font-size: 16px;
        }
    }

    &--similar {
        font-family: $font-family-roboto;
        line-height: 23px;

        @include llg-block {
            font-size: 17px;
        }
    }
}

.title-sub {
    margin: 0;
    text-align: center;
    font-family: $font-family-roboto;
    font-size: 20px;
    line-height: 23px;
    font-weight: 500;
    color: $ct-black;

    @include md-block {
        font-size: 12px;
        line-height: 14px;
    }

    &--recept {
        @include s-block {
            font-size: 14px;
        }
    }
}

/*------------------------------------------------*/

/*---------------------------------------------
   Карточка рецепта
---------------------------------------------*/
.recept {
    @include col();
    @include size(4);
    @include size-md(4);
    @include size-sm(6);
    @include size-s(12);

    display: flex;
    margin-bottom: 60px;
    border-radius: 5px;
    background: $cf-gray3;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    @include sm-block {
        max-width: 285px;
        margin-bottom: 32px;
    }

    @include s-block {
        max-width: 340px;
    }

    &--similar {
        @include size(6);
        @include size-md(6);

        @include s-block {
            max-width: 400px;
        }
    }

    &--s {
        @include s-block {
            display: none;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        padding: 24px 16px;

        @include lg-block {
            min-width: 136px;
            padding: 12px 9px 9px;
        }

        &--similar {
            padding: 6% 4%;
        }
    }

    &__slogan {
        margin-top: 16px;
        font-family: $font-family-roboto;
        font-size: 15px;
        line-height: 18px;
        color: $ct-semi-black;

        @include llg-block {
            font-size: 14px;
        }

        @include lg-block {
            font-size: 13px;
        }

        @include md-block {
            margin-top: 9px;
            font-size: 10px;
            line-height: 12px;
        }

        @include s-block {
            font-size: 12px;
        }

        @include xs-block {
            font-size: 11px;
        }

        &--similar {
            margin-top: 7.5%;

            @include lg-block {
                margin-top: 9px;
            }

            @include md-block {
                margin-top: 5px;
            }

            @include s-block {
                margin-top: 16px;
            }
        }
    }

    &__img {
        flex-grow: 1;

        img {
            display: block;
            width: 156px;
            height: 100%;
            border-radius: 0 5px 5px 0;

            @include lg-block {
                width: 100%;
                min-width: 90px;
            }

            @include s-block {
                min-width: 116px;
            }
        }

        &--similar {
            img {
                @include lg-block {
                    min-width: 115px;
                }

                @include md-block {
                    min-width: 90px;
                }
            }
        }
    }
}

.recept-footer {
    margin-top: auto;

    &--similar {
        padding-right: 16px;
    }

    span {
        margin-left: 4px;
        font-family: $font-family-roboto;
        font-size: 14px;
        line-height: 100%;
        color: $ct-semi-black;

        @include llg-block {
            margin-left: 0;
        }

        @include md-block {
            margin-left: -2px;
            font-size: 10px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    &__item--min:not(:first-child) {
        margin-left: 16px;

        @include llg-block {
            margin-left: 12px;
        }
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        @include svg(16px, 14px, $ct-orange);

        @include md-block {
            @include svg(12px, 10px, $ct-orange);
        }
    }
}

/*------------------------------------------------*/

/*---------------------------------------------
   Хлебные крошки
---------------------------------------------*/
.breadcrumbs {
    &__list {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        margin-right: 5px;

        &::after {
            content: '>>';
            color: $ct-gray-lines;
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }

    &__link {
        display: inline-block;
        font-family: $font-family-roboto;
        font-size: 14px;
        line-height: 100%;
        color: $ct-semi-black;

        &[aria-current=true] {
            @include disa;
            color: $ct-semi-black;
        }

        @include xs-block {
            font-size: 10px;
        }
    }
}

/*------------------------------------------------*/


/*---------------------------------------------
   Звездный рейтинг
---------------------------------------------*/
.rating {
    margin: 0;
    padding: 0;
    border: none;

    @include s-block {
        display: flex;
        align-items: center;
    }
}

.rating__group {
    position: relative;
    width: 12.5em;
    height: 2.5em;
    background-image: url(../img/images/star.svg);
    background-repeat: repeat-x;
    background-size: 2.5em auto;

    @include s-block {
        margin-bottom: 24px;
        margin-left: 16px;
    }
}

.rating__star {
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5em;
    margin: 0;
    background-repeat: repeat-x;
    background-size: 2.5em auto;
    font-size: inherit;
    appearance: none;
}

.rating__star:focus {
    outline: none;
}

.rating__star:focus~.rating__focus {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0.2em solid #4a90e2;
    outline-offset: 0.2em;
}

.rating__star:hover,
.rating__star:checked {
    background-image: url(../img/images/signs.svg);
}

.rating__star:hover~.rating__star {
    background-image: url(../img/images/star.svg);
}

.rating__star:nth-of-type(1) {
    z-index: 5;
    width: 2.5em;
}

.rating__star:nth-of-type(2) {
    z-index: 4;
    width: 5em;
}

.rating__star:nth-of-type(3) {
    z-index: 3;
    width: 7.5em;
}

.rating__star:nth-of-type(4) {
    z-index: 2;
    width: 10em;
}

.rating__star:nth-of-type(5) {
    z-index: 1;
    width: 12.5em;
}

/*------------------------------------------------*/